.dropDown {
    position: relative;
    display: inline-block;
    background-color: $darker;
}
.dropDown__btn {
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    cursor: pointer;
    padding: 0 32px 0 $spacing;
    background-color: $darker;
    border: 0;
    height: 40px;

    &:focus {
        outline: 1px dotted $brightest;
    }
}
.dropDown__btnLabel {
    margin-right: .5em;
}
.dropDown__chevron {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.dropDown__contents {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: $neutral;
}
.dropDown__contents--isOpen {
    display: block;
}
